USE [master]
GO
/****** Object:  Database [TestDb]    Script Date: 2021-05-15 2:45:16 PM ******/
CREATE DATABASE [TestDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\TestDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\TestDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDb]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 2021-05-15 2:45:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[PersonsId] [int] IDENTITY(1,1) NOT NULL,
	[PersonsName] [varchar](255) NOT NULL,
	[imageUrl] [varchar](255) NULL,
	[price] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 2021-05-15 2:45:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[StockId] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NULL,
	[amount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([PersonsId], [PersonsName], [imageUrl], [price]) VALUES (1, N'test-001', NULL, CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[Persons] ([PersonsId], [PersonsName], [imageUrl], [price]) VALUES (2, N'test-002', NULL, CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[Persons] ([PersonsId], [PersonsName], [imageUrl], [price]) VALUES (3, N'test-003', NULL, CAST(0 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Persons] OFF
GO
SET IDENTITY_INSERT [dbo].[Stock] ON 

INSERT [dbo].[Stock] ([StockId], [productId], [amount]) VALUES (2, 1, 5)
INSERT [dbo].[Stock] ([StockId], [productId], [amount]) VALUES (3, 2, 5)
INSERT [dbo].[Stock] ([StockId], [productId], [amount]) VALUES (4, 3, 5)
SET IDENTITY_INSERT [dbo].[Stock] OFF
GO
USE [master]
GO
